#inner__header .nav__ul.nav__ul__right li:nth-child(1) a{
    color: var(--color-black);
}

#inner__header .nav__ul.nav__ul__right li:nth-child(1) a::before{
    display: block;
}



#section__hero{
    background-color: var(--color-secondary);
    max-height: 101dvh;
    overflow: hidden;
    div.column__1{
        max-width: 640px;
        position: absolute;
        bottom: 0;
        left: 5%;
        div.cardProduct__head{
            background-color: var(--color-accent);
            padding: 1em;
        }
        div.cardProduct__body{
            background-color: var(--color-accent);
            margin-top: -3px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            div {
                display: flex;
                flex-direction: column;
            }
            .body__info{
                padding: 1em;
            }
            .body__logo{
                aspect-ratio: 1/1;
                width: 20%;
                img{
                    width: clamp(40px, 100%, 80px);
                    aspect-ratio: 1/1;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center;
                }
            }
        }
    }
}

h1{
    font-size: var(--size-2xl);
    color: var(--color-white);
}

.categoria_producto{
    font-size: var(--size-sm);
    color: var(--color-accent);
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.categoria_producto a{
    font-size: inherit;
    font-weight: 400;
}

#section__main__image{
    background-color: var(--color-secondary-light);
    position: relative;
    overflow: hidden;
    .column__2{
        justify-content: space-between;
    }
    .col__right{
        justify-content: center;
        a{
            text-transform: uppercase;
        }
        .brochure{
            font-size: var(--size-xs);
            text-decoration: underline;
        }
    }
    .col__right::after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 10%;
        background-color: var(--color-accent);
        z-index: 1;
    }
}
#section__main__image::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 15%;
    height: 100%;
    background-color: var(--color-accent);
    z-index: -2;
}
#section__main__image::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 15%;
    background-color: var(--color-white);
    z-index: -1;
}

#section__product__characteristics{
    .column__2.block1{
        padding: 5% 0;
        border-top: 1px solid #ccc;
        align-items: center;
        justify-content: space-between;
        h2{
            font-size: var(--size-2xl);
        }
        .col__right{
            max-width: 300px;
        }
    }
    .column__2.block2{
        justify-content: space-between;
        h3{
            font-size: var(--size-lg);
        }
        p{
            padding-right: 5%;
        }
        ul{
            padding-left: 10%;
            border-top: 1px solid #ccc;
            padding-top: 5%;
        }
        .col__left{
            div{
                border-top: 1px solid #ccc;
                padding-top: 5%;
            }
        }

    }
}
#section__product__divisor::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 50%;
    background-image: url(/images/bg_yellow.svg);
    z-index: -1;
}

#section__product__amenities{
    background-image: url(/images/bg_yellow.svg);
    margin: -3px 0;
    h2{
        border-bottom: 1px solid var(--color-black);  
        width: 100%;
    }
    ul{
        padding-top: 5%;
        display: flex;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    .column__1{
        border-bottom: 5px solid var(--color-black);
        padding-bottom: 5%;
    }
}

#section__product__map{
    background-color: var(--color-secondary-light);
    .column__2{
        border-bottom: 1px solid var(--color-black);
        padding-bottom: 5%;
        .col__left{
            justify-content: center;
        }
    }
    #map-container-product{
        width: 100%;
        height: 60vh;
    }
}
#section__product__map::after{
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 20%;
    background-image: url(/images/bg_yellow.svg);
    z-index: -1;
}

#section__product__gallery{
    .product-gallery {
        max-width: 800px;
        margin: 0 auto;
      }
      
      .product-gallery .splide__arrow {
        background: rgba(255, 255, 255, 0.8);
      }
      
      .product-gallery .splide__pagination__page {
        background: rgba(255, 255, 255, 0.8);
      }
      
      .product-gallery .splide__slide {
        border-radius: 4px;
        overflow: hidden;
      }
      
      .thumbnail-carousel .splide__slide {
        opacity: 0.6;
        transition: opacity 0.3s;
        cursor: pointer;
      }
      
      .thumbnail-carousel .splide__slide.is-active {
        opacity: 1;
      }
}

#main-carousel{
  max-height: 80vh;
  overflow: hidden;
  li img{
    object-fit: cover;
    object-position: center;
    height: 100%;
  }
}

#thumbnail-carousel{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    .hiddenPseudo::after, 
    .hiddenPseudo::before {
        opacity: 0;
    }
    #section__main__image{
        .column__2{
            .col__right{
                padding-top: 5%;
                padding-left: 0;
            }
        }
    }
    #section__hero{
        .column__1{
            left: 0 !important;
        }
    }
    #section__product__characteristics{
        .introImg{
            img{
                height: 100%;
                max-height: 250px;
                object-fit: contain;
            }
        }
    }
    #section__product__amenities{
        ul{
            grid-template-columns: repeat(3, 1fr);
            li{
                aspect-ratio: 1/1;
            }
        }
    }
}   